{
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./assets/css/main.css",
	"tailwindConfig": "./tailwind.config.js",
	"singleQuote": true,
	"semi": true,
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true
}